

wrapper {
	width: 100px;
	height: 100px;
/*	background-color: lightblue;*/
/*background-image: url("/static/images/automobiles-bird-s-eye-view-cars-1004409.jpg"");*/

	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;

	margin: auto;
}


body{
  /* background-color: #e5f2ff;*/
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(0, 0, 100, 0.45),
      rgba(0, 0, 100, 0.45)
    ),
    /* bottom, image */
    url("/static/images/copilot_new.jpg");
 /* background-image: url("/static/images/favicon.ico");*/
   /* display: flex;*/
   display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}

.text-input{
    position: relative;
    margin-top: 50px;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type=submit]{ /*This is for the login button, mess around with the numbers*/
   padding:5px 15px; background:#ddd; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 1.9s ease-in;
}

input[type=submit]:hover{ /*This is for the login button, mess around with the numbers*/
   padding:5px 15px; background:#ccc; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all 1.3s ease-in;
    transition-delay 1.9s;
    animation: 10s wrapper;

}

input[type=text]{ /*This is for anybox with the text type*/
  border-radius: 25px;
  border: 1px solid #aaaaaa;
  padding: 3px;
  width: 150px;
  height: 20px;
  transition: all 1.3s ease-in;
transition-delay 1.0s;

}

input[type=text]:focus{ /*This is for anybox with the text type*/
  border-radius: 25px;
  border: 1px solid #6666ff;
  padding: 3px;
  width: 150px;
  height: 20px;
  outline: none;
}

input[type=password]{
  border-radius: 25px;
  border: 1px solid #aaaaaa;
  padding: 3px;
  width: 150px;
  height: 20px;
    transition: all 0.1s ease-in;
transition-delay 0.4s;

}

input[type=password]:focus{
  border-radius: 25px;
  border: 1px solid #6666ff;
  padding: 3px;
  width: 150px;
  height: 20px;
  outline: none;
    transition: all 1.5s ease-in;
transition-delay 0.4s;

}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    box-shadow:  0 0 0px 1000px white inset;
}

/*View tickets section of styling */

.ticketTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.ticketTable td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.ticketTable tr:nth-child(even){background-color: #f2f2f2;}

.ticketTable tr:nth-child(odd){background-color: #ffffff;}

.ticketTable tr:hover {background-color: #ddd;}

.ticketTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #002664;
  color: white;
}

.ticketHeader{
    text-align: center;
    color: #eaab00;

}

/* End of view tickets section of styling */

.smsemailblock{
    display: flex;
    margin-right: 25px;
}


.floatLeft{
    margin-right: 25px;
}

/*navigation bar code*/

.ulnavbar{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

.linavbar{
    float: left;

}

.linavbar .anavbar{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.linavbar .anavbar:hover{
    color: white;
    background-color: #0c0c0c;
}


/*end of navigation bar code*/
