<!DOCTYPE html>
<html>
    <head>
        <title>CoPilot</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/static/homepage.css">
    </head>
    <header>
        <ul class="ulnavbar">
            <li class="linavbar"><a class="anavbar" href="{{ url_for('index') }}">Home</a></li>
            <li class="linavbar"><a class="anavbar" href="{{ url_for('edit_profile') }}">Edit Profile</a></li>
            <li class="linavbar"><a class="anavbar" href="{{ url_for('add_vehicle') }}">Add Vehicle</a></li>

            {% if current_user.role == "Admin" or current_user.role == "Associate" or current_user.role == "Manager" %}
                <li class="linavbar"><a class="anavbar" href="{{ url_for('view_tickets') }}">View Tickets</a></li>
                <li class="linavbar"><a class="anavbar" href="{{ url_for('create_delete_ticket') }}">Add/Remove Tickets</a></li>
                <li class="linavbar"><a class="anavbar" href="{{ url_for('send_notification') }}">Send Notification</a></li>
            {% endif %}

            {% if current_user.role == "Admin" or current_user.role == "Manager" %}
            <li class="linavbar"><a class="anavbar" href="{{ url_for('modify_user_data')}}">Add/Remove User</a></li>
            {% endif %}
            <li class="linavbar"><a class="anavbar" href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </header>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>