<!DOCTYPE html>
<html>
    <head>
        <title>CoPilot</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/static/images/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" href="/static/homepage.css">
    </head>
    <header>
        <ul class="ulnavbar">
            <li class="linavbar"><a class="anavbar" href="#">Home</a></li>
            <li class="linavbar"><a class="anavbar" href="#">View Tickets</a></li>
            <li class="linavbar"><a class="anavbar" href="#">Edit Profile</a></li>
            <li class="linavbar"><a class="anavbar" href="#">Logout</a></li>
        </ul>
    </header>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>