{% extends "base.html" %}

{% block content %}
    <hr>
    <h2>Adding User to database</h2>

    <form action="{{ url_for('create_database_user') }}" method="POST">
      Enter new user:<br>
      <input type="text" name="username">
      <br>
      Email:<br>
      <input type="text" name="email">
      <br>
      Password:<br>
      <input type="password" name="password">
      <br>
      First Name:<br>
      <input type="text" name="firstName">
      <br>
      Last Name:<br>
      <input type="text" name="lastName">
      <br>
      Phone:<br>
      <input type="text" name="phone">
      <br>
      Role:
      <select name="role">
          <option value="Admin">Admin</option>
          <option value="Manager">Manager</option>
          <option value="Associate">Associate</option>
          <option value="Customer">Customer</option>
      </select>
      <br><br>
      <input type="submit" value="Submit">
    </form>

    <hr>
    <h2>Delete user from database by username</h2>
    <form action="{{ url_for('delete_database_user') }}" method="POST">
      Delete existing user:<br>
      <input type="text" name="username">
      <input type="submit" value="Submit">
    </form>

{% endblock %}