{% extends "base.html" %}

{% block content %}


    <h2 class="ticketHeader">Current tickets for a specific license plate:</h2>
    <form action="{{ url_for('view_tickets') }}" method="POST">
      Filter by plate number:<br>
      <input type="text" name="licenseplate">
      <input type="submit" value="Submit">
    </form>

    <table class="ticketTable">
        <tr>
            <th>Ticket ID</th>
            <th>Violation Type</th>
            <th>Ticket Amount</th>
            <th>License Plate Number</th>
            <th>Date and Time Stamp</th>
        </tr>
        {% for record in ticketRecords %}
            <tr>
                <td>{{ record.ticketID }}</td>
                <td>{{ record.vType }}</td>
                <td>{{ record.amount }}</td>
                <td>{{ record.licensePlateNumber }}</td>
                <td>{{ record.timestamp }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

